
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Johny dog walker</title>
<link rel="stylesheet" href="./stylesheets/grocery.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Bootstrap core CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--
    <script src="./javascripts/my.js"></script>
        <script src="./javascripts/vendor/bootstrap-formhelpers-phone.js"></script>
    -->
    <script src="./javascripts/vendor/bootstrap-formhelpers.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>

  <body>

  <!-- -->
  
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
<button type="button" class="btn btn-default navbar-btn">About</button>
<button type="button" class="btn btn-default navbar-btn">Sign in</button>
<button type="button" class="btn btn-default navbar-btn">Order</button>
<button type="button" class="btn btn-default navbar-btn">Sign out</button>

  </div><!-- /.container-fluid -->
</nav>
  
  <!-- end 1/22/17 11:00 am-->
  
  
 <form id="contact-form" method="post" action="/ping" data-toggle="validator" role="form"> 
<div class="container" style="margin-top: 20px">

  <p class="lead">
  This is the place to request a walker/sitter.
  </p>
   
  <table class="table forum table-striped">
    <tbody>
      <tr>
        <td class="text-center"><i class="fa fa-paw fa-2x text-primary"></i></td>
        <td>
          <h4><a href="#">Westfield Area Dog Walking/Sitting</a><br><small>Dog care <i>908-858-09xx</i></small></h4>
        </td>
      </tr>
      <tr>
        <td class="text-center"><i class="fa fa-magic fa-2x text-primary"></i></td>
        <td>
          <h4><a href="#">Identity</a><br><small>Household information</small></h4>          

  <div class="form-group">
    <label for="Name">Name:</label>
    <input type="name" class="form-control input-lg" id="name" name="name"  placeholder="Enter contact name" required>
    
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  
  <div class="form-group">
    <label for="phone">Contact Phone:</label>
    <input type="tel" class="form-control input-medium bfh-phone" data-country="US" id="phone" name="phone" required>
  </div>
  </div>
  
    <div class="form-group">
    <label for="addr">Address:</label>
       <textarea class="form-control input-lg" rows="2" id="address" name="address"></textarea>
  </div>  
 
   <div class="container">
<div class="row">   
<p>
<label class="col-md-12 control-label" for="days">Day(s) of  Week</label>
  <br/>
<button type="button" id="toggle-allOn" class="btn btn-info">checkAll</button>
<button type="button" id="toggle-allOff" class="btn btn-info">uncheckAll</button>

<div class="form-group">
<div class="btn-group">
<label class="checkbox-inline" for="days-1">
  <input type="checkbox" name="days" id="days-1" value="Mon">
  Mon
</label>
<label class="checkbox-inline" for="days-2">
  <input type="checkbox" name="days" id="days-2" value="Tue">
  Tue
</label>
<label class="checkbox-inline" for="days-3">
  <input type="checkbox" name="days" id="days-3" value="Wed">
  Wed
</label>
<label class="checkbox-inline" for="days-4">
  <input type="checkbox" name="days" id="days-4" value="Thu">
  Thu
</label>
<label class="checkbox-inline" for="days-5">
  <input type="checkbox" name="days" id="days-5" value="Fri">
  Fri
</label>
<br/>
<label class="checkbox-inline" for="days-6">
  <input type="checkbox" name="days" id="days-6" value="Sat">
  Sat
</label>
<label class="checkbox-inline" for="days-0">
  <input type="checkbox" name="days" id="days-0" value="Sun">
  Sun
</label>
</div>
</p>
</div>
</div>
</div>
        </td>
      </tr>
    </tbody>
  </table>
  

    <table class="table forum table-striped">
    </thead>
    <tbody>
      <tr>
        <td>          

  <div class="form-group">
      <label for="list">      
       <i class="fa fa-sticky-note-o fa-2x text-primary"></i> Notes:
      </label>
  <textarea class="form-control input-lg" rows="4" id="notes" name="notes"></textarea>
    <button type="submit" class="btn btn-default">Inquire about walker</button>   
<div class="g-recaptcha" data-sitekey="6Lfd4xIUAAAAAN7vZGidLytbnCZGnwhuXMQ3A9zR"></div>    

  </div>   

        </td>
      </tr>
    </tbody>
  </table>
  

</form>

<script>
$('#toggle-allOn').click(function() {
    $('.btn-group input[name="days"]').prop('checked', true);
});
$('#toggle-allOff').click(function() {
    $('.btn-group input[name="days"]').prop('checked', false);
});
</script>

  </body>
</html>

