<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Johny dog walker</title>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

<style>
  .thumb {
    <!--
    height: 175px;
    width:  300px;
    -->
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
</style>

</head>

<form enctype="multipart/form-data" action="/upload" method="post" enctype="multipart/form-data">
<body>

        
            <input type="text" name="title">
            <input type="file" name="file">


 <div class="form-group">
    <label for="Name">Your Name:</label>
    <input type="name" class="form-control input-lg" id="name" name="name"  placeholder="Enter contact name" required>
    
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>

            <input type="submit" value="Upload">
       

</form>


</body>

